.link-with-blob {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.link-with-blob::before {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  width: 200%;
  height: 200%;
  background: #f5f5f5; /* Light background on hover */
  transform: scale(0);
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, right 0.5s ease-in-out;
  border-radius: 50%;
  z-index: -1;
}

.link-with-blob:hover::before {
  transform: scale(1);
  top: -50%;
  right: -50%;
}

.link-with-blob:hover {
  color: #1c1c1c; /* Dark text color */
}

/* Responsive styles for mobile */
@media (max-width: 640px) {
  .link-with-blob {
    background: #f5f5f5;
    color: #1c1c1c; /* Dark text color */
    overflow: visible;

    /* // opacity lower */
    opacity: 0.5;
  }

  .link-with-blob::before {
    display: none;
  }
}
